html 
    head 
    link(rel='stylesheet' href='indexcss.css')
    script(src='level.js')
    title Python Memory Card Game 
    body 
        header
        .container
            .profile-picture
                img(src='hinature.png' alt='Profile Picture')
            .welcome-message Welcome, #{user}
            .logout-button
                a(href='/logout') Logout
        .play-button
            button(id='play-button' onclick='fetchLevels()') Play Now
        .levels-list(style='display:none')
            ul#levels-ul
        

