html 
    head 
    link(rel='stylesheet' href='indexcss.css')
    title Python Memory Card Game 
    body 
        header
        .container
            .profile-picture
                img(src='hinature.png' alt='Profile Picture')
            .welcome-message Welcome, #{user}
            .logout-button
                a(href='/logout') Logout
        

