html
  head
    title Quiz
    link(rel="stylesheet" href="quiz.css")
  body
    .app
      h1.level-name Quiz
      .quiz
        h2#question Question Placeholder
        #answer-buttons
          // The buttons will be dynamically added by JavaScript
        button#next-btn Next
    script(src="quiz.js")

